@tailwind base;
@tailwind components;
@tailwind utilities;

.active .toc-indicator {
  @apply w-16 bg-accent-8;
}
.active .toc-text {
  @apply text-accent-8;
}

@layer utilities {
  .stepper__bullet {
    top: 1rem;
    left: -2rem;
    width: 0.5rem;
    height: 0.5rem;
    display: block;
    border-radius: 999px;
    @apply bg-accent-3;
  }

  .stepper::before {
    content: "";
    position: absolute;
    top: 2.25rem;
    left: calc(-1.75rem - 1px);
    width: 1px;
    height: 100%;
    @apply bg-accent-2;
  }
  .stepper:last-child:before {
    display: none;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background-color: #ffff;
}

* {
  box-sizing: border-box;
  /* cursor: none; */
}

*::selection {
  background: #07b6d550;
}

a {
  /* text-decoration: none; */
}

img {
  max-width: 100%;
  display: block;
}
